# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment variables
*.env
.env

# Editor files
.DS_Store
*.iml
.idea/
*.swp
*.swo
